
/*** header styling ***/

.header {
	background-color: #4A4383;
	min-height: 100px;
	color: #fff;
	padding: 30px 23px;
	display: flex;
  background-image: linear-gradient(rgba(74, 67, 131, 0.8), rgba(74, 67, 131, 0.8)), url('../../assets/images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  background-position-y: 85%;
}

.header p {
	padding: 8px;
	line-height: 18px;
}

.header__left {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.header__right {
	flex: 3;
}

.header__icon {
	flex: 1;
}

.header__icon .icon {
	font-size: 20px;
}

.header__info {
	flex: 7;
}

.header__info--label {
	border-bottom: 1px solid #A1A1AB;
}

.header .icon-swap {
	font-size: 20px;
	margin-left: 5px;
}

/*** content styling ***/

.content {
	display: flex;
}

.content__info {
	flex: 2;
	color: #555;
	background-color: #fff;
}

.content__info__title {
	padding: 23px;
	background-color: #f6f6f6;
}

.content__info__title .icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	color: #A1A1AB;
	margin-right: 15px;
}

.content__info__title .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #333;
}

.content__info__body {
	padding: 15px 25px 0;
	background-color: #fff;
}

.content__info__body--header {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
	margin-bottom: 15px;
}

.content__info__body--content {
	display: flex;
}

.content__info__body--content .left {
  flex: 1;
}

.content__info__body--content .left .icon {
	font-size: 22px;
	color: #A1A1AB;
}

.content__info__body--content .right {
	flex: 8;
}

.content__info__body--content .inner {
	padding-left: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.content__info__body--content:last-child .inner {
	border: none;
	margin-bottom: 0;
}

.content__info__body--content .left .icon-check-square {
	color: #5cb85c;
}

.content__info__body--content .input-field {
	position: relative;
}

.content__info__body--content .location {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 75%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content__info__body--content .input-field label {
	color: #9e9e9e;
  position: absolute;
  top: 0;
	left: 0;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  pointer-events: none;
}

.content__info__body--content .input-field input:focus ~ label, .content__info__body--content .input-field input:valid ~ label {
  -webkit-transform: translateY(-14px) scale(0.8);
  transform: translateY(-14px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.content__info__body .content-piece {
	margin-bottom: 10px;
}

.content__info__body .content-piece .label {
	float: right;
}

.content__info__body .content-piece .coords {
	display: block;
	font-size: 12px;
	color: #999;
}

.content__info__body.new-location .content__info__body--header {
	margin-bottom: 20px;
}

.content__map {
	flex: 3;
}

#map {
	height: 400px;
	width: 100%;
}